<div class="container main-container">
<h1>{{tituloDaPagina}}</h1>
<hr>

<form [formGroup]="cadastroForm" (ngSubmit)="adicionarTarefa()">
    <label  class="control-label"  for="titulo">Titulo</label>
    <div>
        <input  class="form-control" id="titulo" type="text" placeholder="titulo" formControlName="titulo">
    </div>

    <label class="control-label"  for="percentual">Percentual</label>
    <div>
        <input class="form-control" id="percentual" type="number" placeholder="Percentual" formControlName="percentual">
    </div> 

    <label class="control-label"  for="DataCriacao">Data Criação</label>
    <div>
        <input class="form-control" id="DataCriacao" type="date" placeholder="Data Criação" formControlName="dataCriacao">
    </div>

    <label class="control-label"  for="dataConclusao">Data Conclusão</label>
    <div>
        <input class="form-control" id="dataConclusao" type="date" placeholder="Data Conclusão" formControlName="dataConclusao">
    </div>

    <label class="control-label"  for="prioridade">Prioridade</label>
    <div>
        <select class="form-select" id="prioridade" formControlName="prioridade">
            <option value="0">Baixa</option>
            <option value="1">Normal</option>
            <option value="2">Alta</option>
        </select>
    </div>
    <br>
    <div>
        <button class="btn btn-success" id="registrar" type="submit">Registrar</button>
        <button class="btn btn-danger" id="cancelar" type="button" (click)="cancelar()">Cancelar</button>
    </div>
</form>
</div>
